/* Colours */
// Palette URL: http://paletton.com/#uid=7000u0kdSll63uYa4pCgag3mcd+ */
$dark-grey: #101010;
$dull-white: #E0E0E0;
$bright-white: #FFFFFF;

$color-p-0: #AA6060;	// Main Primary color */
$color-p-1: #F7C8C8;
$color-p-2: #CC8C8C;
$color-p-3: #803F3F;
$color-p-4: #6F2222;

$color-s-1-0: #AA8260;	// Main Secondary color (1) */
$color-s-1-1: #F7DDC8;
$color-s-1-2: #CCA98C;
$color-s-1-3: #805D3F;
$color-s-1-4: #6F4522;

$color-s-2-0: #3A6666;	// Main Secondary color (2) */
$color-s-2-1: #789494;
$color-s-2-2: #547A7A;
$color-s-2-3: #264D4D;
$color-s-2-4: #144343;

$color-s-3-0: #4D884D;	// Main secondary-3- color */
$color-s-3-1: #A0C5A0;
$color-s-3-2: #70A370;
$color-s-3-3: #336633;
$color-s-3-4: #1B591B;


/* Styles */
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: monospace;
  color: $color-p-1;
  font-size: 10pt;
  background: $color-p-0 url('sloth.png') bottom left no-repeat fixed;
  min-height: 100%;
}

a:link, a:visited {
  color: $dull-white;
  text-decoration: none;
  text-shadow: 1px 1px 0 $color-p-4;
}

a:hover, a:focus, a:active {
  color: $bright-white;
}

p {
  font-family: 'CaveStoryRegular', sans-serif;
  font-size: 21pt;
  letter-spacing: 0.8pt;
  line-height: 95%;
  margin-bottom: 10pt;
}

pre {
  background-color: $dark-grey;
  color: $dull-white;
  padding: 10pt;
  margin: 10pt 0 20pt 0;
  box-shadow: 10pt 10pt 0 0 $color-p-4;
}

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 20px solid $dark-grey;
}

h1, h2, h3, h4, h5 {
  font-family: 'VTFMisterPixelRegular', monospace;
  font-weight: normal;
}

h2 {
  font-size: 24pt;
  margin: 20pt 0 6pt 0;
  padding-bottom: 6pt;
  color: $color-s-2-1;
  text-shadow: 1px 1px 0 $dark-grey;
  border-bottom: 1px solid $color-p-3;
}

article {
  float: left;
  width: 100%;
}

main {
  float: left;
  width: 60%;
  padding: 20pt;
  margin-left: 30%;
  margin-bottom: 150pt;
}

.site-title {
  position: absolute;
  bottom: 20pt;
  left: 20pt;
  font-size: 30pt;
  color: $dark-grey;
}

.site-title a { 
  color: inherit;
  text-shadow: 3px 3px 0 $color-p-0;
}

.float-list {
  list-style: none;
  float: left;
}

.float-list li {
  float: left;
}

.site-nav {
  position: absolute;
  padding-top: 20pt;
  bottom: 0;
  right: 0;
  left: 30%;
  background: url('grad.png') repeat-x;
}

.site-nav ul {
  padding: 16pt 6pt;
  font-family: 'VTFMisterPixelRegular', monospace;
  font-size: 22pt;
}

.site-nav li {
  margin-right: 30pt;
}

.site-nav a {
  display: block;
  padding: 10pt;
  transform: translateY(0);
  text-shadow: 0 0 0 $color-p-4;
  text-transform: lowercase;
  transition: transform 0.5s, text-shadow 0.5s;
}

.site-nav a:hover {
  animation-duration: 0.5s;
  animation-name: rise;
  transform: translateY(-5pt);
  text-shadow: 0 5pt 0 $color-p-4;
}

.site-nav a:before {
  content: '/';
}

.post-data {
  position: fixed;
  width: 30%;
  padding: 20pt;
}

.post-title {
  font-size: 44pt;
  text-shadow: 3px 3px 0 $color-p-4;
  margin-bottom: 24pt;
  color: $color-s-1-1;
}

.post-title a {
  color: inherit;
  text-shadow: inherit;
}

.def-list {
  text-align: center;
  border: solid $color-p-2;
  border-width: 3px 0;
  padding: 12pt 0 3pt 0;
}

.def-list dt {
  padding-bottom: 2pt;
  text-transform: uppercase;
  font-family: 'CaveStoryRegular';
  font-size: 12pt;
  color: $color-p-4;
}

.def-list dd {
  margin-bottom: 12pt;
}

.post-nav {
  float: left;
  width: 100%;
  clear: both;
}

.post-link {
  display: block;
  margin: 12pt 0;
  font-family: 'CaveStoryRegular', monospace;
  font-size: 24pt;
}

.post-link:before {
  display:block;
  content: attr(rel);
  color: $color-s-2-1;
}

.post-link:hover:before {
  color: $color-s-3-1;
}

.archive-list {
  list-style: none;
  margin: 12pt 0 24pt 0;
}

.archive-list time {
  margin-right: 15pt;
}


/* Responsiveness */
@media (min-width: 1200px) {
  .post-data {
    width: 20%;
  }

  main {
    width: 40%;
  }
}
