<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>/proc/meat/{{title|lower}}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <header>
      <h1 class="site-title"><a href="index.html" title="Home">/proc/meat</a></h1>
      {% if site_nav %}
      <nav class="site-nav">
        <ul class="float-list">
          {% for i in site_nav %}
          <li><a href="{{i.href}}">{{i.title|title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </header>
    <article>
      <section class="post-data">
        <h1 class="post-title"><a href="#" title="Permalink">{{title|lower}}</a></h1>
        {% if post %}
        <dl class="def-list">
          <dt>Posted On</dt><dd><time>{{post.date}}</time></dd>
          {% if post.tags %}
          <dt>Tags</dt>
          <dd>
            {% for t in post.tags %}
            <a href="{{t.href}}">{{t.name}}</a>
            {% endfor %}
          </dd>
          {% endif %}
        </dl>
        <nav class="post-nav">
          {% if post.prev %}
          <a class="post-link" rel="Previous" href="{{post.prev.href}}">{{post.prev.title}}</a>
          {% endif %}
          {% if post.next %}
          <a class="post-link" rel="Next" href="{{post.next.href}}">{{post.next.title}}</a>
          {% endif %}
        </nav>
        {% endif %}
      </section>
      <main>
      {% block main %}
      {{text}}
      {% endblock main %}
      </main>
    </article>
  </body>
</html>
